* {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

@font-face {
  src: url(fonts/gill-sans-mt-ext-condensed-bold/GLSNECB.ttf);
  font-family: gillsanscond;
}
@font-face {
  src: url(fonts/gilroy/Gilroy-Regular.ttf);
  font-family: gilroyreg;
}
@font-face {
  src: url(fonts/gilroy/Gilroy-Bold.ttf);
  font-family: gilroybold;
}
h1 {
  font-family: gillsanscond;
  color: white;
  font-size: 165px;
}

h2 {
  font-family: gilroybold;
  font-size: 65px;
  color: white;
  margin-bottom: 40px;
}

h3 {
  font-family: gilroyreg;
  font-size: 25px;
  color: white;
  margin-bottom: 20px;
}

p {
  font-family: gilroyreg;
  color: white;
  font-size: 17px;
}

#color {
  color: #AE7DFF;
}

button {
  width: 240px;
  height: 50px;
  background-color: rgb(162, 56, 255);
  color: white;
  font-family: gilroybold;
  font-size: 16px;
  border: solid #8B64CC;
  transition: 0.2s;
}

button:hover {
  background-color: white;
  color: black;
  transition: 0.4s;
}

a:visited,
a:link {
  text-decoration: none;
}

#LandingPage {
  background-image: url("assets/BG.jpg");
  background-repeat: round;
  height: 960px;
}
#LandingPage header {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
#LandingPage header nav {
  margin-right: 50px;
}
#LandingPage header img {
  height: 40px;
  margin-left: 50px;
}
#LandingPage header ul {
  display: flex;
  justify-content: center;
}
#LandingPage header ul li {
  list-style-type: none;
}
#LandingPage header ul p {
  margin-right: 50px;
}
#LandingPage header ul a:visited,
#LandingPage header ul a:link {
  text-decoration: none;
}
#LandingPage div {
  margin: 165px 0 0 100px;
}
#LandingPage div button {
  margin-top: 40px;
}
#LandingPage div p {
  font-size: 25px;
  margin-top: -13px;
}

#about {
  background-color: #272727;
  padding: 100px 100px 100px 100px;
  box-shadow: inset 0 4px 13px rgba(0, 0, 0, 0.4);
}
#about #top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
#about #top img {
  height: 500px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}
#about #top #droite {
  width: 1080px;
  border-bottom: solid white;
  margin-bottom: 25px;
  padding-bottom: 100px;
  line-height: 27px;
}
#about #competences {
  display: flex;
  justify-content: center;
  gap: 50px;
}
#about #competences .case {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.4);
  width: 600px;
}
#about #competences .case .title {
  padding: 25px 50px 10px 50px;
  background-color: rgb(162, 56, 255);
}
#about #competences .case .title h3 {
  color: #272727;
  font-family: gilroybold;
}
#about #competences .case .contenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about #competences .case .contenu .liste {
  display: flex;
  justify-content: center;
  border-bottom: solid #AE7DFF;
  border-width: 4px;
  width: 500px;
  margin-top: 20px;
}
#about #competences .case .contenu .liste ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
#about #competences .case .contenu .liste ul li {
  list-style-type: none;
  font-family: gilroyreg;
  font-size: 17px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}
#about #competences .case .contenu .softwares {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 500px;
}
#about #competences .case .contenu .softwares .ligne {
  display: flex;
  justify-content: space-around;
}

#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #353535;
  box-shadow: 0 -4px 13px rgba(0, 0, 0, 0.4);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}
#projects h2 {
  display: flex;
  justify-content: center;
  border-bottom: solid #AE7DFF;
  width: 130px;
  padding-bottom: 20px;
}
#projects #Menu {
  display: flex;
  justify-content: center;
}
#projects #Menu .article {
  margin-bottom: 20px;
  margin-top: -20px;
}
#projects #Menu .article button {
  width: 130px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: gilroybold;
  font-size: 16px;
  border: none;
  transition: 0.2s;
}
#projects #Menu .article button:hover,
#projects #Menu .article .active {
  background-color: rgba(255, 255, 255, 0.04);
  color: #AE7DFF;
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.4);
  transition: 0.4s;
}
#projects .images {
  display: flex;
  flex-wrap: wrap;
}
#projects .images .modal {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.65);
  transition: all 0.4s;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(13px);
          backdrop-filter: blur(13px);
}
#projects .images .modal:target {
  visibility: visible;
  opacity: 1;
}
#projects .images .modalcontent {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 1240px;
}
#projects .images .modalcontent .gauche {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 560px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #353535;
  border-right: #AE7DFF solid;
  border-width: 4px;
}
#projects .images .modalcontent .gauche h2 {
  width: 100%;
}
#projects .images .modalcontent .gauche p {
  margin-left: 20px;
}
#projects .images .modalcontent .gauche .ligne img {
  width: 64px;
  box-shadow: none;
  border: none;
}
#projects .images .modalcontent .gauche h3 {
  border-bottom: #AE7DFF solid;
  padding-bottom: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
#projects .images .modalcontent img {
  width: 560px;
  height: -moz-fit-content;
  height: fit-content;
}
#projects .images .modalcontent .imgliste {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#projects .images .modalcontent .imgliste img {
  width: 400px;
}
#projects .images .modalclose {
  position: absolute;
  top: 0;
  right: 15px;
  color: white;
  text-decoration: none;
  font-size: 36px;
}
#projects img {
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  border: solid rgba(0, 0, 0, 0);
  transition: 0.2s;
}
#projects img:hover {
  border: solid #AE7DFF;
  opacity: 100;
  transition: 0.4s;
}
#projects .hidden {
  display: none;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  padding-top: 100px;
  padding-bottom: 100px;
  box-shadow: inset 0 4px 13px rgba(0, 0, 0, 0.4);
}
#contact #container {
  display: flex;
}
#contact #container img {
  height: 350px;
}
#contact #container #gauche {
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.4);
  padding: 25px 50px 25px 50px;
}
#contact #container #gauche form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact #container #gauche form #top {
  margin-bottom: 20px;
}
#contact #container #gauche form #top .contact-inputs {
  font-family: gilroyreg;
  width: 200px;
  height: 40px;
  padding-left: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  outline: none;
  background-color: #202020;
  color: white;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
  border: solid #272727;
  transition: 0.2s;
}
#contact #container #gauche form #top .contact-inputs:focus {
  border: solid #AE7DFF;
  transition: 0, 4s;
}
#contact #container #gauche form #top .contact-inputs::-moz-placeholder {
  color: #cacaca;
}
#contact #container #gauche form #top .contact-inputs::placeholder {
  color: #cacaca;
}
#contact #container #gauche form textarea {
  font-family: gilroyreg;
  width: 435px;
  height: 80px;
  padding-left: 10px;
  padding-top: 10px;
  border: none;
  outline: none;
  background-color: #202020;
  color: white;
  margin-bottom: 20px;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
  border: solid #272727;
  transition: 0.2s;
}
#contact #container #gauche form textarea:focus {
  border: solid #AE7DFF;
  transition: 0, 4s;
}
#contact #container #gauche form textarea::-moz-placeholder {
  color: #cacaca;
}
#contact #container #gauche form textarea::placeholder {
  color: #cacaca;
}
#contact #container #gauche form button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#contact #container #gauche form button img {
  width: 20px;
  height: 20px;
}
#contact #container #gauche #top {
  display: flex;
}
#contact #container #droite {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 50px 20px 50px;
  height: 310px;
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.4);
}
#contact #container #droite #reseaux {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contact #container #droite #reseaux a {
  background-color: rgba(35, 35, 35, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  transition: 0, 2s;
}
#contact #container #droite #reseaux a img {
  width: 40px;
  height: 40px;
  margin: 5px 5px 5px 5px;
}
#contact #container #droite #reseaux a:hover {
  background-color: rgb(40, 40, 40);
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.4);
  transition: 0, 4s;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #000;
  box-shadow: 0 -4px 13px rgba(0, 0, 0, 0.4);
}
#footer p {
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */